[Unit]
Description=app
After=network.target

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/go-server-protei
ExecStart=/go-server-protei/bin/app --name=goserverprotei

[Install]
WantedBy=default.target